.header {
    padding: 0 21vw;
    height: 60px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    box-shadow: 0 3px 10px rgba(114, 114, 114, 0.25);
  }
  
  .header__nav {
    display: flex;
    justify-content: space-evenly;
  }

  .header__nav, a {
    min-width: 20vw;
  }

  .header__home{
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: black;
  }

  .header__basket {
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: black;
  }

  .header__basketIcon{
      margin: 0 2vw;
  }
