.hotel__container {
    display: flex;
    margin-top: 8vh;
    margin-bottom: 12vh;
    justify-content: center;
}

.hotel__image {
    margin: 0 2vw;
    width: 16vw;
    object-fit: contain;
    min-width: 150px;
}

.hotel__info{
    width: 40vw;
}

.hotel__title {
    font-size: 17px;
    font-weight: 800;
}

.hotel__subtitle {
    font-size: 14px;
    padding: 2vw 4vw;
    text-align: justify;
}
    
.hotel__price {
    padding: 0 4vw ;
}

.hotel__price::after{
    content: "";
    display: block;
    padding-top: 4vh;
    border-bottom: 1px solid #000;
}

.quantity__section{
    width: 10vw;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 40% 20% 20%;
}


.button--delete{
    grid-column: 5;
    grid-row: 1;
}

.button--decrease{
    grid-column: 1;
    grid-row: 3;
}

.button--increase{
    grid-column: 3;
    grid-row: 3;
}

.hotel__amount{
    grid-column: 2;
    grid-row: 3;
    text-align: center;
}

.hotel__subtotalPrice{
    grid-column: 5;
    grid-row: 3;
}